[Unit]
Description=Start etherpad

[Service]
Type=oneshot
User=ubuntu
ExecStart=/bin/bash -c "/home/ubuntu/etherpad-lite/src/bin/run.sh"

[Install]
WantedBy=multi-user.target
